<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.me.pa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PA.NoActionBar"
        android:usesCleartextTraffic="true">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.me.pa.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activities.ActivityLauncher"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Background"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ViewCollectiveAccount"
            android:exported="false"
            android:theme="@style/Theme.PA.NoActionBar" />
        <activity
            android:name=".activities.ViewPersonalExpense"
            android:exported="false"
            android:theme="@style/Theme.PA.NoActionBar" />
        <activity
            android:name=".activities.Home"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PA.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.AccountInfo"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PA.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.Authentication"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PA.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.OnBoarding"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/transparentStatusAndNavigationBar"
            tools:ignore="LockedOrientationActivity" />

        <service android:name=".services.DataLoaderServiceF" />
        <service android:name=".services.DataLoaderServiceB" />

        <receiver
            android:name=".broadcastReceivers.OnBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.REBOOT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcastReceivers.NetworkStateReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>